.crystal-img {
  max-width: 150px;
  margin: 10px;
  border-radius: 5px;
}

#scoreDisp{
  font-size: 1.5rem;
  color: darkred;

}

.randomNumber {
  font-size: 3rem;
  color: red;
}

.score {
  font-size: 2rem;
  color: darkred;
}